{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>3D Storage</title>
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
</head>

<body>
    <header>
        <h1>{{ page_title }}</h1>
        <!-- Ссылка на загрузку теперь выглядит как кнопка -->
        <a href="{% url 'upload' %}" class="btn" style="background-color: #28a745;">+
            Загрузить модель</a>
    </header>
    <main>
        <!-- Контейнер сетки -->
        <div class="gallery-grid">
            {% for asset in assets %}
            <!-- Карточка -->
            <div class="asset-card">
                <!-- 1. Превью (Верхняя часть) -->
                <!-- Пока здесь просто серый квадрат с иконкой куба -->
                <!-- На 6-й неделе здесь будет картинка, на 5-й - 3D сцена -->
                <div class="card-preview" id="model-container-{{ asset.id }}" data-url="{{ asset.file.url }}">
                    <!-- Временно оставим текст, пока JS не заменит его на Canvas -->
                    🎲
                </div>
                <!-- 2. Информация (Нижняя часть) -->
                <div class="card-info">
                    <h3 class="card-title">{{ asset.title }}</h3>
                    <div class="card-meta">
                        <span>📅 {{ asset.created_at|date:"d M Y" }}</span>
                        <!-- Если есть файл, показываем размер -->
                        {% if asset.file %}
                       <span>💾 {{ asset.file.size|filesizeformat }}</span>
                        {% endif %}
                    </div>
                    <!-- Кнопка скачивания -->
                    {% if asset.file %}
                    <a href="{{ asset.file.url }}" class="btn" download>Скачать
                        .glb</a>
                    {% else %}
                    <span style="color: red;">Файл потерян</span>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>База пуста.</p>
            {% endfor %}
        </div>
    </main>
</body>